/* Montserrat — Regular (400) */
@font-face {
  font-family: "Montserrat";
  src: url("https://ruhmgmbh.github.io/website_font_niedermueller/fonts/nm_regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Montserrat — Medium (500) */
@font-face {
  font-family: "Montserrat";
  src: url("https://ruhmgmbh.github.io/website_font_niedermueller/fonts/nm_medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Montserrat — Bold (700) */
@font-face {
  font-family: "Montserrat";
  src: url("https://ruhmgmbh.github.io/website_font_niedermueller/fonts/nm_bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
